.classpath
.project
.settings/
dependency-reduced-pom.xml
*.keystore
logs/
status/
*.jar
*.tmp
*.swp
*.html
*.info
*.bak
bin/
*.dat
*.txt
*.sh
*.xls*
*.xlsx*
~*
.~*
*.iml
.idea/
target/
file-uploads
./files
tmp
*.log
*.zip
*.tgz
.attach*
*.jks
*.cer
*.pem
*.class
uploads/
models
*.docx
*.yml
locations
